 

*{
        margin: 0;
        padding: 0;
        border: none;
        text-decoration: none;
        box-sizing: border-box;
        
      
 }
:root {
      font-size: 1rem;
      font-family: "Poppins", sans-serif;
    
      --background-main: #f57777;
      --background-lighter: #edeaea;
}

.logo{ 
   
   margin: 2rem;

}
   
.titulo{
   color: var(--background-main);
   font-family: "Poppins", sans-serif;

}
.presente{
   background-image: url(image.svg);
   font-family: "Poppins", sans-serif;
   font-size: 3rem;
   /* border: solid 2px red; */
   height: 125vh;
   display: flex-end;
   justify-content: center;
   align-items: center;
   margin-top: 5%;
   margin-left: 2rem;

}
.escolha {
   display: flex;
   justify-content: space-around;
   margin-top:2rem;
   margin-right: 25rem;
   font-weight: bold;


.checkList{

   margin-top: -3rem;
   margin-left: 15rem;
   line-height: 7rem;

}




