*{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    
}

:root{
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;

    --background-main: #F57777;
    --background-lighter: #EDEAEA;
}
body{
    height: 100%;
}
header{
    background: var(--background-main);
    border: solid 1px rgb(0, 89, 255);
    display: flex;
    align-items:left;
    justify-content:left;

}
header a{
    margin-left: 4rem;
    padding-top: 2rem;
    padding-bottom:0.5rem;
    font-weight: bold;
    color: var(--background-lighter);
}

header a:hover {

    cursor: pointer;
    color:#e0b8b8;
    /* border: solid 1px  */
}
header a::after{
    content: "→";
    display: flex;
    justify-content: right;
    margin-right: 1rem;
}

.borderIndex{
    background: var(--background-main);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 2rem;
    border: solid 1px red
}

.cardMain{
    background: var(--background-lighter);
    border:solid 1px purple;
    padding: 2rem;
}
.cardMain .logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    max-width: 15rem;
}

footer{
    background: var(--background-main);
    border: solid 1px rgb(255, 0, 106);
}